.editor {
    border: 1px solid !important;
    border-color: #dbdbdb !important;
    padding: 5px !important;
    width: 100%;
    max-height: 275px !important;
    overflow: auto;
}

.editor.is-danger,
.editor-toolbar.is-danger {
    border-color: $danger !important;
}

.editor-wrapper {
    width: 100% !important;
    height: 360px !important;
    display: block;
    box-sizing: inherit !important;
}

.editor-toolbar {
    border: 1px solid !important;
    border-color: #dbdbdb !important;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}