@charset "utf-8";

@import "variables";
@import "richTextEditor";

body {
    background: $light;
}

section {
    min-height: calc(100vh - 88px - 56px);
    display: flex !important;
    align-items: center;
}

.navbar {
    svg {
        height: 28px;
        width: 28px !important;
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
        &:active {
            color: $primary-active;
        }
    }
}

.hero {
    background-color: $primary-light;
}

.hero-body {
    margin-top: 2rem !important;
}

#hero-img-container {
    line-height: 0;
    margin-bottom: -1.5rem;
}

.content ol,
.content ul {
    list-style-position: inside !important;
    margin-left: 0 !important;
}

@media screen and (max-width: 768px) {
    #hero-img-container {
        display: none !important;
    }
    .hero-body {
        margin-top: 0 !important;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
}

@import "../../node_modules/bulma/bulma.sass";
