@charset "utf-8";

@import "variables";
@import "richTextEditor";

body {
    background: $light;
}

section {
    min-height: calc(100vh - 88px - 56px);
    display: flex !important;
    align-items: center;
}

.navbar {
    svg {
        height: 28px;
        width: 28px !important;
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
        &:active {
            color: $primary-active;
        }
    }
}

.hero {
    background-color: $primary-light;
}

.hero-body {
    padding-top: 4.5rem !important;
}

#hero-img {
    line-height: 0;
}

.content ol,
.content ul {
    list-style-position: inside !important;
    margin-left: 0 !important;
}

@import "../../node_modules/bulma/bulma.sass";
